doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ArmaGuard Security
    link(rel="stylesheet", href="styles.css")
    script(src="darkmode.js")
    //-  script(src="quickScan.js")
    //- script(src="moreInfo.js")
  body.body
    header
      .dashboard 
        nav
          a.logo(href="/")
            img.logo-pic(src="images/ArmaguardSecurity.svg", alt="logo") 
          ul.navbar(id="myTopnav") 
            li.list-items 
              a(href="javascript:void(0);" onclick="showLoginAlert()") Devices
            li.list-items 
              a(href="javascript:void(0);" onclick="showLoginAlert()") Network 
            li.list-items 
              a(href="javascript:void(0);" onclick="showLoginAlert()") Learn
          ul.signin
              li.list-items
                a(href="/signup") Sign-Up
              li.list-items
                a(href="/login") Login  
          ul.navbar-toggle  
              li.push-right
                label.switch(for="darkModeToggle")
                    input(type="checkbox" id="darkModeToggle")
                    span.slider.round
          a.icon(href="javascript:void(0);" onclick="myFunction()")
    main 
        .devices-container
            a(href="/login")
                .devices-list 
                    h4.scanned-devices Login 
        .network-strength-container
            a(href="/signup")
              .network-strength 
                    h4.scanned-devices Register


        footer 
          p.footer-text &copy; 2024 Armaguard Security. All rights reserved | by Samuel Asamoah
        
             
        //- h3(id="DarkModetext") Dark Mode is OFF
        //-     //- button(onclick="darkMode()") Darkmode
        //-     //- button(onclick="lightMode()") LightMode
        //-     div.dark-mode
        //-        button(onclick="darkMode()") Darkmode
        //-     script. 
        //-         function darkMode() {
        //-           var element = document.body;
        //-           element.classlist.toggle("dark-mode");
        //-           }

    